<footer>
	<div>
		<p class="f6 gray mt6 lh-copy">
			---<br>
			BTC / <a href="btc:bc1qqzp6ff9zuxhrxrtfcrxf745mv0amjkp5j0kpeu">bc1qqzp6ff9zuxhrxrtfcrxf745mv0amjkp5j0kpeu</a><br>
			ETH / <a href="eth:0x7aB5aF122F0f09e9cb7d141ba04b1ce14F18D3bA">0x7aB5aF122F0f09e9cb7d141ba04b1ce14F18D3bA</a><br>
			© <script>
				document.write(new Date().getFullYear())
			</script> - Max Vogel<br>

			<a href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">RSS Feed</a>
		</p>
	</div>
 </footer>

{{ partial "scripts.html" . }}