body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  padding: 					2px 4px;
  font-size: 				90%;
  background-color: 		#eeeeee;
  /* border-radius: 4px; */
}

pre {
  display: 					block;
  padding: 					9.5px;
  margin: 					0 0 10px;
  line-height: 				1.4;
  word-break: 				break-all;
  word-wrap: 				break-word;
  border:					1px solid #ccc;
  /* border-radius:			4px; */
}

pre,
code {
  font-family:				monocode, monospace;
  -webkit-font-smoothings:	antialiased;
  -moz-osx-font-smoothing:	grayscale;
}

::selection {
  color: black;
  background: yellow;
}

a:hover{
	background-color:		lime;
	color:					black;
}


tooltip1 { position: relative; }
tooltip1 a span { display: none; color: #FFFFFF; }
tooltip1 a:hover span { display: block; position: absolute; width: 200px; background: #aaa; height: 50px; left: 100px; top: -10px; color: #FFFFFF; padding: 0 5px; }
