body {
	-webkit-font-smoothings: 	antialiased;
	-moz-osx-font-smoothing: 	grayscale;
    text-rendering: 			optimizeLegibility;
}
code {
    padding: 					2px 4px;
    font-size: 					90%;
    background-color: 			#1e1f21;
    /* border-radius: 4px; */
}

pre {
    display: 					block;
    padding: 					9.5px;
    margin: 					0 0 10px;
    line-height: 				1.4;
    word-break: 				break-all;
    word-wrap: 					break-word;
    border:						1px solid #ccc;
    /* border-radius:			4px; */
	
}

pre,
code {
	font-family:				monocode, monospace;
	-webkit-font-smoothings:	antialiased;
	-moz-osx-font-smoothing:	grayscale;
}

.hljs {
	background:					#292a2d;
	color:						#a9a9b3;	
}

.hljs-built_in{
	color:						green;
}

.hljs-nomarkup{
	color:						#d38b00;
}

a:hover {
background-color:               #018574;
transition-duration:            .4s;

}

p a {
    word-wrap:                  break-word;
    border:                     none;
    box-shadow:                 inset 0 -.2em 0 #018574;
    transition-property:        background-color;
    color:                      #cbcbcb;
    transition-timing-function: ease-in-out;
    text-decoration:            none;
}

code::selection,
span.hljs-title::selection,
span.hljs-attr::selection,
span.hljs-selector-id::selection,
span.hljs-selector-class::selection,
span.hljs-selector-attr::selection,
span.hljs-built_in::selection,
span.hljs-string::selection,
span.hljs-number::selection,
span.hljs-section::selection,
span.php::selection,
span.hljs::selection,
span.hljs-literal::selection,
span.hljs-selector-pseudo::selection {
    color: 						#00fb10;
    background: 				black;
}


* {
	background-color: 			#292a2d;
	color:						#a9a9b3;
    line-height:                1.6;
    letter-spacing:             .06em;
}
