@import url('//fonts.googleapis.com/css2?family=PT+Mono&display=swap')

// =================
// === Variables ===
// =================
$font-size: 14px
$code-radius: 5px
$transition-time: 250ms
$border-dash: 1px dashed css-var(text-color)

\:root
    --inside-bg-color: #e2e5e2
    --outside-bg-color: #006b75
    --code-bg-color: #282c34
    --text-color: #2b2b2b
    --text-color-inverse: #d4d4d4

// botched way to have dynamic css variables (sass variables need reload to update :p)
@function css-var($color-name)
    @return var(--#{$color-name})

// ================
// === Elements ===
// ================
*
    letter-spacing: 0
    line-height: 1.44
    scrollbar-width: thin // "auto" or "thin"

    &::selection
        background-color: css-var(outside-bg-color)
        color: css-var(text-color-inverse)

html
    overflow-y: scroll ////stackoverflow.com/a/7607206/7833617
    // scroll-behavior: smooth
    // ^todo this breaks fast scroll, find workaround

body
    font-family: 'PT Mono', monospace !important
    font-weight: 400
    font-size: $font-size
    max-width: 42em
    margin: auto
    color: css-var(text-color)
    background-color: css-var(outside-bg-color)
    text-align: justify

    &::-webkit-scrollbar
        width: 10px // width of the entire scrollbar

    &::-webkit-scrollbar-track
        background: css-var(outside-bg-color) // color of the tracking area

    &::-webkit-scrollbar-thumb
        background-color: css-var(outside-bg-color) // color of the scroll thumb
        border-radius: 5px // roundness of the scroll thumb
        border: 2px solid css-var(inside-bg-color) // creates padding around scroll thumb

input
    &, & + label, label + &
        cursor: pointer

    &[type="text"]
        font-family: 'PT Mono', monospace !important
        background-color: css-var(code-bg-color)
        color: css-var(inside-bg-color)

        border-radius: $code-radius
        width: 100%
        font-size: $font-size
        height: 2.5em
        padding: 0.5ch 0.5ch 0.5ch 0.75ch

        box-sizing: border-box
        box-shadow: 4px 4px black
        border-style: outset

    &[type="radio"]
        width: unset

    progress,
    &[type="radio"],
    &[type="range"],
    &[type="button"],
    &[type="checkbox"]:checked
        accent-color: css-var(outside-bg-color)

*:focus-visible
    outline: css-var(outside-bg-color) auto 1px

button
    font-size: 16px
    font-family: inherit
    padding: 0.4ch 0.8ch
    margin: 0.4em 0.2em
    border-radius: $code-radius
    box-shadow: 4px 4px black
    transition-duration: $transition-time

    // dark default
    background-color: css-var(code-bg-color)
    color: css-var(inside-bg-color)

    @media (prefers-color-scheme: light)
        background-color: css-var(bg-color)
        color: css-var(text-color)

    &:hover
        box-shadow: 5px 5px black

        // background-color: css-var(text-color)
        color: css-var(text-color-inverse)
        filter: brightness(1.35)

        @media (prefers-color-scheme: light)
            background-color: rgba(221, 221, 221, 0.7)
            color: css-var(code-bg-color)
            filter: brightness(0.95)

    &:active // click
        transform: translateY(2px)

a,
a:visited
    // I undestand this enough to know that it's good enuogh as is and that is alright
    text-decoration: none
    box-shadow: inset 0 -0.14em 0 css-var(outside-bg-color)
    color: black
    transition-property: background-color
    transition-timing-function: ease-in-out
    transition-duration: $transition-time

    img
        margin-bottom: 0

    &:hover
        background-color: css-var(outside-bg-color)
        color: css-var(inside-bg-color)
        box-shadow: none

        &::selection,
        & *::selection
            background-color: css-var(text-color-inverse)
            color: css-var(text-color)

    &::selection,
    & *::selection
        background-color: css-var(text-color)

    &.inverse-bg
        color: css-var(text-color-inverse)
        filter: invert(100%)

        &:hover::selection,
        &:hover *::selection
            background-color: css-var(text-color-inverse)
            color: css-var(text-color)

    &.no-custom, img &
        box-shadow: none

        &:hover
            background-color: transparent

hr
    border-top: $border-dash

fieldset
    text-align: center
    margin-bottom: 1ch
    border: $border-dash

code,
.hljs
    font-family: 'PT Mono', monospace !important
    padding: 2px 4px
    font-size: 90%
    background-color: css-var(code-bg-color) !important
    color: css-var(text-color-inverse)
    border-radius: $code-radius

    &::selection,
    & > span::selection
        color: limegreen !important
        background: black !important

pre > code
    // .hljs from atom-one-dark.css line 21
    display: block
    overflow-x: scroll
    padding: 0.5em

    color: css_var(text-color-inverse)
    background: css_var(code-bg-color)

    &::-webkit-scrollbar
        width: .66ch // width of the entire scrollbar
    &::-webkit-scrollbar-track
        background: css_var(code-bg-color) // color of the tracking area
        border-radius: $code-radius*1.25 // roundness of the track
    &::-webkit-scrollbar-thumb
        background-color: #323742 // color of the scroll thumb
        border-radius: $code-radius // roundness of the scroll thumb

details
    color: css_var(text-color-inverse)
    padding: .4rem .75rem
    background: css_var(code-bg-color)
    border-radius: $code-radius
    font-size: 87% !important

    &[open]
        // padding-bottom: .75rem

        & summary
            margin-bottom: 6px

        & >*:last-child
            margin-bottom: 0
    summary
        color: #bcc3cf
        cursor: pointer
        font-weight: bold

img
    width: 100%

    // article &
        // margin: .5em 0 0 0

p
    margin: 0.5em 0
    text-align: justify

    article &
        margin: 0.25em 0 1em

blockquote
    border-left: 1.25ch solid css-var(inside-bg-color)
    filter: brightness(95%) // botched way to darken the color
    margin: 1em 1.25ch 1.5em
    padding: 0.5em 1.25ch
    font-size: 90%

    & > code
        font-size: 90% !important

    & > div > p
        margin-top: 1em
        margin-bottom: 0
        display: block

    *:last-child
        padding-bottom: 0
        margin-bottom: 0

ul
    padding-left: 2ch

li
    line-height: 1.44
    vertical-align: inherit
    margin: .6ch 0

    *:not(ol &)::marker
        content: '- '

h1 + h2, h2 + h3, h3 + h4
    margin-top: .75em

h1,
h2,
h3
    font-weight: 700
    margin-top: 2em
    margin-bottom: 0.25em

h1
    font-size: 123%
    &::before
        content: '# '

h2
    font-size: 112%
    &::before
        content: '## '

h3
    font-size: 105%
    &::before
        content: '### '

select:focus,
input:focus,
datalist:focus
    outline: 0 solid transparent !important

s
    text-decoration: none
    background-image: linear-gradient(transparent .5em,#000000 .5em,#000000 9px,transparent 9px)
    // ^make strike line thicc

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled]
    cursor: default
    opacity: .5
    cursor: not-allowed // Set the [X] cursor while hovering a disabled link

// =====================
// === IDs / Uniques ===
// =====================

#footer
    padding-top: 1em
    width: 100%

    &::before
        content: '---\00000a' //\00000a = newline
        white-space: pre

    table
        table-layout: fixed
        border-collapse: collapse

        tr
            &:not(:last-child) td:not(:first-child) // only crypto addy
                @extend .select-all

        td
            @extend .no-scroll
            padding: 0

            &:nth-of-type(1)
                min-width: 7ch !important

                &::after
                    content: ' /'

            &:nth-of-type(2)
                max-width: 46.5ch // todo this isn't great
                overflow: auto
                display: flex

// these should've been IDs
div.nav
    font-size: 115%
    margin-bottom: 1em

    & > a
        margin: 0 0.25em // adds padding between slashes

        &:first-child
            margin-left: 0

        &:last-child,
        strong
            font-weight: 600

div.box
    max-width: 50rem
    margin: 2em
    border: .4ch solid black
    padding: 3.25ch
    background: css-var(inside-bg-color)
    overflow-wrap: break-word
    vertical-align: middle
    margin-top: 3em
    box-shadow: 1.5ch 1.5ch black

// ===============
// === Classes ===
// ===============

.sub-posts
    margin: 0.5ch 0

    & li::marker
        content: '* '

img.dropdown
    height: 1.08em
    vertical-align: middle
    width: initial

.no-scroll
    scrollbar-width: none // remove scroller in FF
    &::-webkit-scrollbar  // remove scroller in chrome
        height: 0 !important
        width: 0 !important
        display: none !important

// stackoverflow.com/a/43783066/7833617
.select-all
    -webkit-touch-callout: all // iOS Safari
    -webkit-user-select: all // Safari
    -khtml-user-select: all // Konqueror HTML
    -moz-user-select: all // Firefox
    -ms-user-select: all // Internet Explorer/Edge
    user-select: all // Chrome and Opera

.MathJax *
    line-height: unset
